<template>
    <div id="renderscript">
        <div id="result" ref="resulteditor" class="content scripteditorresult" v-html="result" v-if="isresultshown"></div>
        <div id="editor" v-else>
            <textarea style="height: 90vh !important;" class="buefy-editor"
                     placeholder="# Hello World!"
                     v-model="text"
                     v-on:input="onTextChange"
                     oninput='this.style.height = "90vh";this.style.height = this.scrollHeight + "px"'>
            </textarea>
        </div>
    </div>
</template>

<script>
    const marked = require("marked")

    export default {
        name: "renderscript",
        data: function () {
            return {

            }
        },
        props: {
            isresultshown: Boolean,
            text: {
                type: String,
                default: ""
            }
        },
        computed: {
            result: function () {
                return marked(this.text)
            }
        },
        methods: {
            marked: function (string) {
                return marked(string)
            },
            onTextChange () {
                this.$emit('changed', this.text)
            }
        }
    }
</script>

<style scoped>
    .result {
        h1 {
            font-size: 20em;
            font-weight: bold;
        }
    }
    .buefy-editor {
        height: 90vh !important;
        background-color: lightgray;
        border: none;
        min-width: 100%;
        max-width: 100%;
        padding: 5em;
    }
    #result {
        background-color: lightblue;
        padding: 5em;
        color: black;
    }
</style>