<template>
  <div id="app">
    <div class="columns mains">
      <div id="nav" class="main column is-1 has-text-centered">
        <div>
          <router-link to="/"><div class="menu-item is-unselectable"><h1><b-icon pack="fas" icon="home" size="is-large"></b-icon></h1><h3 class="menu-item">Home</h3></div></router-link>
          <router-link to="/script"><div class="menu-item is-unselectable"><h1><b-icon pack="fas" icon="file-alt" size="is-large"></b-icon></h1><h3 class="menu-item">Script</h3></div></router-link>
          <router-link to="/buttons"><div class="menu-item is-unselectable"><h1><b-icon pack="fas" icon="sliders-h" size="is-large"></b-icon></h1><h3 class="menu-item">Manual control</h3></div></router-link>
        </div>
      </div>
      <div class="main column"><keep-alive include="playscript"><router-view @projectchange="onProjectOpen" :project="project"/></keep-alive></div>
    </div>
  </div>
</template>

<script>
  import projectsApi from "./scripts/api/projectsApi.js";

  export default {
    name: "app",
    data: function () {
      return {
        project: ""
      }
    },
    methods: {
      onProjectOpen (value) {
        projectsApi.openProject(value);
        this.project = value
      }
    },
  }
</script>

<style lang="scss">
#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  min-height: 100%;
}

#nav {
  padding: 30px;
  background-color: #0077b5;
  box-shadow: 1px 0px 10px #333333;
  min-width: 7em;

  a {
    font-weight: bold;
    color: #FFFFFF;

    &.router-link-exact-active {
      color: #42b983;
    }
  }

}
.mains {
  min-height: 100vh;
  margin-top: 0 !important;
  .main {
    min-height: 100vh;
  }
}
.menu-item:focus { outline: none; }
</style>
