<template>
    <div id="home">
        <b-loading :active.sync="isLoading" :can-cancel="true"></b-loading>
        <h1 class="title">Projects</h1>
        <div class="columns is-multiline">
            <div class="column is-one-fifth" v-for="project in projects" v-bind:key="project">
                <div class="card" :data="project" v-bind:class="{active: project ===  activeproject}" @click="select">
                    <div class="card-content is-unselectable">
                        <h1 class="title">{{ project }}</h1>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth">
            <div class="card">
                    <div class="card-content is-unselectable has-text-centered" @click="prompt">
                        <h1 class="plus has-text-centered">+</h1>
                        <h1 class="plus-text">New project</h1>
                    </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    import projectsApi from "../scripts/api/projectsApi.js";

    export default {
        name: "home",
        data: function () {
            return {
                isLoading: false,
                projects: [],
                activeproject: ""
            }
        },
        created () {
            this.fetch()
        },
        methods: {
            async fetch () {
                try {
                    this.isLoading = true;
                    let data = await projectsApi.getProjects();
                    this.isLoading = false;
                    this.projects = data.data
                } catch (error) {
                    this.$buefy.dialog.alert({
                        title: 'Error',
                        message: 'Something bad happened :(',
                        confirmText: 'That is ok'
                    })
                    this.isLoading = false;
                }
            },
            prompt() {
                this.$buefy.dialog.prompt({
                    message: `What's the name of the project?`,
                    inputAttrs: {
                        placeholder: 'Romeo and Juliet'
                    },
                    trapFocus: true,
                    onConfirm: (value) => this.create(value)
                });
            },
            async create(name) {
                try {
                    this.isLoading = true;
                    await projectsApi.createProject(name);
                    this.isLoading = false;
                    this.fetch()
                } catch (error) {
                    this.$buefy.dialog.alert({
                        title: 'Error',
                        message: 'Something bad happened :(',
                        confirmText: 'That is ok'
                    });
                    this.isLoading = false;
                }
            },
            select: function(e) {
                var nice = e.target.getAttribute("data");
                this.activeproject = nice;
                this.$emit('projectchange', nice)
            }
        }
    }
</script>

<style scoped>
    .title {
        padding-top: 1%;
    }
    .columns {
        margin-top: 5%;
        width: 100%;
        margin-right: 20%;
    }
    .card {
        min-height: 18rem;
        cursor: pointer;
    }
    .plus {
        font-size: 8em;
        color: lightgray;
    }
    .plus-text {
        font-size: 2em;
        color: lightgray;
    }
    #home {
        padding-left: 5px;
    }
    .active {
        border: 5px #0077b5;
        background-color: #0077b5;
    }
</style>