<template>
  <div class="playscript">
    <b-loading :active.sync="isLoading" :can-cancel="true"></b-loading>
    <h1 class="title">Script Editor</h1>
    <div class="topbar"><p><b-button icon-pack="fas" icon-left="save" v-on:click="putScript" type="is-info">Save </b-button> <b-button v-on:click="getScript" icon-pack="fas" icon-left="sync-alt" type="is-light">Refresh</b-button> Project: {{project}}</p></div>
    <div class="columns">
      <div class="column is-two-thirds"><Script @changed="onTextChange" :text="text" v-bind:isresultshown="isresultshown"/></div>
      <div class="column controls">
        <b-button size="is-medium" v-on:click='isresultshown = !isresultshown' v-bind:icon-left="!isresultshown ? 'eye' : 'lead-pencil'">{{ hidebuttonmessage }}</b-button><br><br>
        <b-button size="is-medium is-primary" v-on:click='Action' icon-left="plus">Add action</b-button><br><br>
        <b-button size="is-large" v-show="isresultshown" v-on:click='nextAction' v-bind:class="showtimeRed ? 'is-danger' : 'is-warning'" icon-left="rocket">Showtime!</b-button>
        <div class="actions" v-show="actionsShow">
          <!--<b-message v-for="action in actions" v-bind:key="action" type="is-info">
            {{ action.command }} <button v-on:click="playCommand(action.moduleName,action.command,action.json)"></button>
          </b-message>
        </div>-->
      </div>
      <div class="options" v-show="optionsShow">
        <b-message title="Add action" type="is-primary" v-bind:closable="false" aria-close-label="Close message">
          <b-field label="Select module">
            <b-select placeholder="Select a module">
              <option>
                Audio
              </option>
            <option>
              DMX
            </option>
            </b-select>
            </b-field>
              <b-field label="Simple">
            <b-select placeholder="Select a command">
              <option>
                play
              </option>
              <option>
                stop
              </option>
              <option>
                volume
              </option>
            </b-select>
              </b-field>
          <b-field class="file" label="Upload your sound:">
            <b-upload>
              <a class="button is-primary">
                <b-icon icon="upload"></b-icon>
                <span>Click to upload</span>
              </a>
            </b-upload>
          </b-field>
          <b-button type="is-light" v-on:click="Action">Cancel</b-button>
          <b-button type="is-primary">Add</b-button>
        </b-message>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Script from '@/components/renderscript.vue'
import projectsApi from "@/scripts/api/projectsApi.js";
/* eslint-disable no-console */

export default {
  name: 'playscript',
  data: function () {
    return {
      text: "",
      isresultshown: false,
      isLoading: false,
      optionsShow: false,
      actionsShow: false,
      showtimeRed: false
    }
  },
  props: {
    project: String
  },
  created() {
      /*document.addEventListener('keyup', (event) => {
      if (event.code === 'Space') {
      event.preventDefault()
      this.nextAction()
      }
    })
    document.body.onkeyup = (e)=>{
      if(e.keyCode == 32){
        e.preventDefault()
        this.nextAction()
      }
      return false
    }*/
  },
  computed: {
    hidebuttonmessage: function f() {
      if (!this.isresultshown) {
        return 'Preview script'
      } else {
        return 'Edit script'
      }
  },
    actions: function () {
      let tags = document.getElementsByTagName("psc-action");
      return tags
    },
  },
  methods: {
    onTextChange (value) {
      this.text = value
    },
    getScript: async function() {
      try {
        this.isLoading = true;
        let data = await projectsApi.getSource();
        this.isLoading = false;
        this.text = data.data
        this.$buefy.toast.open({
          message: 'Refreshed!',
          type: 'is-light',
          duration: 1000
        })
      } catch (error) {
        this.$buefy.dialog.alert({
          title: 'Error',
          message: 'Something bad happened :(',
          confirmText: 'That is ok'
        });
        this.isLoading = false;
      }
    },
    async putScript() {
      try {
        this.isLoading = true;
        await projectsApi.putSource(this.text);
        this.isLoading = false;
        this.$buefy.toast.open({
          message: 'Saved!',
          type: 'is-success',
          duration: 1000
        })
      } catch (error) {
        this.$buefy.dialog.alert({
          title: 'Error',
          message: 'Something bad happened :(',
          confirmText: 'That is ok'
        });
        this.isLoading = false;
      }
    },
    Action() {
        this.optionsShow = !this.optionsShow
    },
    async playCommand(moduleName, command, json) {
      try {
        await projectsApi.api.post("/projects/"+this.project+"/exec/"+moduleName+"/"+command, json);
        this.$buefy.toast.open({
          message: 'Sent!',
          type: 'is-success',
          duration: 500
        })
      } catch (error) {
        this.$buefy.dialog.alert({
          title: 'Error',
          message: 'Something bad happened :(',
          confirmText: 'That is ok'
        });
        this.isLoading = false;
      }
    },
    nextAction() {
      /* eslint-disable no-console */
      this.showtimeRed = true
      console.log("nice");/*
      if (this.actionsShow) {
        let actualActive = -1;*/
        let actions = this.actions;
        let playCommand = this.playCommand;
        for (let i = 0; i < this.actions.length; i++) {
          this.actions[i].addEventListener('click', function (e) {
            e.preventDefault()
            playCommand(actions[i].moduleName,actions[i].command,actions[i].json)
          })
        /*if (actualActive === -1) {
          this.actions[0].classList.add("active")
        }
        this.actions[actualActive].classList.remove("active")
        if (actualActive + 1 > length(this.actions)) {
          this.actions[actualActive].classList.add("active")
          this.playCommand(this.actions[actualActive].moduleName,this.actions[actualActive].command,this.actions[actualActive].json)
        }*/
      }
    }
  },
  components: {
    Script
  }
}
</script>

<style scoped>
  .title {
    padding-top: 1%;
  }
  .playscript {
    padding-left: 5px;
  }
  button {
    margin-left: 3px;
  }
  .options {
    padding-top: 1em;
    width: 80%;
  }
  .controls {
    position: fixed;
    top: 15%;
    left: 70%;
  }
  .topbar {
    margin-bottom: 3px;
  }
  psc-action {
    margin: 5px;
  }
  psc-block {
    margin: 5px;
  }
</style>

<style>
  psc-action.active::before {

    content: "▶";
    color:

            red;
    background-color: black;
    padding: 0 5px 2px 7px;

  }
</style>
